@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-logo-icon:before {
  content: "\e900";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 450px;
}

body {
  color: #4d4d4d;
  line-height: 1;
  font-family: "Poppins";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 69.375rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

:root {
  --color: #5aace7;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  position: relative;
  z-index: 2;
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3125rem;
  z-index: 100;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.logo:hover {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.logo__icon::before {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: var(--color);
  font-size: 1.125rem;
}

.logo__text {
  color: var(--color);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  line-height: 1.5;
  font-weight: 600;
}

.icon-menu {
  display: none;
}

.page__container {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
  row-gap: 3.125rem;
}

.page__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page__title {
  font-weight: 600;
  line-height: 1.5;
}

.page__subtitle {
  font-weight: 600;
  line-height: 1.5;
}

.page__text {
  max-width: 18.75rem;
}

.page__button {
  height: 2.875rem;
  width: 10.125rem;
  background-color: #5aace7;
  border-radius: 2.5rem;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 500;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.circular-slider__body {
  position: relative;
  height: 25.875rem;
  width: 25.875rem;
}

.circular-slider__circle {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  top: -37.5rem;
  right: -65%;
  position: absolute;
  width: 56.8125rem;
  height: 56.8125rem;
  border-radius: 50%;
  background-color: var(--color);
  z-index: -1;
  overflow: hidden;
}

.circular-slider__wrapper {
  bottom: -6.25rem;
  left: 25%;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25.875rem;
  width: 25.875rem;
  border-radius: 50%;
  background: url("../img/elipse.svg") transparent no-repeat 0 0/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.circular-slider__slide {
  -webkit-transform: rotate(calc(40deg * var(--img-no))) translateY(calc(25.875rem / 2 - 6.25rem));
      -ms-transform: rotate(calc(40deg * var(--img-no))) translateY(calc(25.875rem / 2 - 6.25rem));
          transform: rotate(calc(40deg * var(--img-no))) translateY(calc(25.875rem / 2 - 6.25rem));
  -webkit-transform-origin: calc(25.875rem / 2);
      -ms-transform-origin: calc(25.875rem / 2);
          transform-origin: calc(25.875rem / 2);
  position: absolute;
  height: 10.375rem;
  width: 7.5625rem;
}

.circular-slider__slide img {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: rotate(calc(-40deg * var(--img-no))) scale(0.6);
      -ms-transform: rotate(calc(-40deg * var(--img-no))) scale(0.6);
          transform: rotate(calc(-40deg * var(--img-no))) scale(0.6);
  height: 100%;
}

.circular-slider__active-slide {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.circular-slider__active-slide img {
  width: 8.875rem;
  height: 17.25rem;
}

.circular-slider__button {
  position: absolute;
  z-index: 2;
  width: 3.6875rem;
  height: 3.6875rem;
  border-radius: 50%;
  background-color: #5aace7;
  bottom: 2.1875rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.circular-slider__button_left {
  left: 0;
}

.circular-slider__button_right {
  right: 0;
}

@media (min-width: 47.99875em) {
  .page__container {
    height: 100%;
    -ms-grid-columns: minmax(19.375rem, 25rem) auto;
    grid-template-columns: minmax(19.375rem, 25rem) auto;
  }
}

@media (min-width: 47.99875em) and (min-width: 80em) {
  .page__container {
    gap: 12.5rem;
  }
}

@media (min-width: 69.375em) {
  .header {
    padding-top: 2.125rem;
  }

  .header {
    padding-bottom: 2.125rem;
  }

  .menu__list {
    gap: 3rem;
  }

  .page__title {
    font-size: 2.25rem;
  }

  .page__subtitle {
    font-size: 1.5rem;
  }

  .page__subtitle:not(:last-child) {
    margin-bottom: 1rem;
  }

  .page__text:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .circular-slider {
    padding-top: 9.375rem;
  }
}

@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    z-index: 4;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--color);
    padding: 3.125rem;
    padding-top: 6.25rem;
    overflow: scroll;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 3.75rem;
    left: -100%;
    top: 0;
    background-color: var(--color);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu-open .menu__body {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    left: 0;
  }

  .menu-open .menu__body::before {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .logo__icon::before {
    color: #fff;
  }

  .logo__text {
    color: #fff;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #ffffff;
    transition: all 0.3s ease 0s;
  }

  .menu-open .icon-menu span,
  .menu-open .icon-menu::before,
  .menu-open .icon-menu::after {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .page__content {
    text-align: center;
    margin: 0 auto;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .page__button {
    width: 100%;
  }

  .circular-slider {
    margin: 0 auto;
  }
}

@media (max-width: 47.99875em) and (max-width: 28.125em) {
  .menu__list {
    font-size: 2.5rem;
  }

  .page {
    padding-top: 3.125rem;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 28.125em) {
  .header {
    padding-top: 0.9375rem;
  }

  .header {
    padding-bottom: 0.9375rem;
  }

  .menu__list {
    gap: 0.9375rem;
  }

  .page__title {
    font-size: 1.25rem;
  }

  .page__subtitle {
    font-size: 1rem;
  }

  .page__subtitle:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .page__text:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .circular-slider {
    padding-top: 3.125rem;
  }
}

@media (min-width: 28.125em) and (max-width: 69.375em) {
@supports (padding-top: clamp( 0.9375rem , 0.1278409091rem  +  2.8787878788vw , 2.125rem )) {
    .header {
      padding-top: clamp( 0.9375rem , 0.1278409091rem  +  2.8787878788vw , 2.125rem );
    }
}

@supports not (padding-top: clamp( 0.9375rem , 0.1278409091rem  +  2.8787878788vw , 2.125rem )) {
    .header {
      padding-top: calc(0.9375rem + 1.1875 * (100vw - 28.125rem) / 41.25);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.1278409091rem  +  2.8787878788vw , 2.125rem )) {
    .header {
      padding-bottom: clamp( 0.9375rem , 0.1278409091rem  +  2.8787878788vw , 2.125rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.1278409091rem  +  2.8787878788vw , 2.125rem )) {
    .header {
      padding-bottom: calc(0.9375rem + 1.1875 * (100vw - 28.125rem) / 41.25);
    }
}

@supports (gap: clamp( 0.9375rem , -0.46875rem  +  5vw , 3rem )) {
    .menu__list {
      gap: clamp( 0.9375rem , -0.46875rem  +  5vw , 3rem );
    }
}

@supports not (gap: clamp( 0.9375rem , -0.46875rem  +  5vw , 3rem )) {
    .menu__list {
      gap: calc(0.9375rem + 2.0625 * (100vw - 28.125rem) / 41.25);
    }
}

@supports (font-size: clamp( 1.25rem , 0.5681818182rem  +  2.4242424242vw , 2.25rem )) {
    .page__title {
      font-size: clamp( 1.25rem , 0.5681818182rem  +  2.4242424242vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 0.5681818182rem  +  2.4242424242vw , 2.25rem )) {
    .page__title {
      font-size: calc(1.25rem + 1 * (100vw - 28.125rem) / 41.25);
    }
}

@supports (font-size: clamp( 1rem , 0.6590909091rem  +  1.2121212121vw , 1.5rem )) {
    .page__subtitle {
      font-size: clamp( 1rem , 0.6590909091rem  +  1.2121212121vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.6590909091rem  +  1.2121212121vw , 1.5rem )) {
    .page__subtitle {
      font-size: calc(1rem + 0.5 * (100vw - 28.125rem) / 41.25);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.3693181818rem  +  0.9090909091vw , 1rem )) {
    .page__subtitle:not(:last-child) {
      margin-bottom: clamp( 0.625rem , 0.3693181818rem  +  0.9090909091vw , 1rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.3693181818rem  +  0.9090909091vw , 1rem )) {
    .page__subtitle:not(:last-child) {
      margin-bottom: calc(0.625rem + 0.375 * (100vw - 28.125rem) / 41.25);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.8238636364rem  +  1.5151515152vw , 1.875rem )) {
    .page__text:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.8238636364rem  +  1.5151515152vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.8238636364rem  +  1.5151515152vw , 1.875rem )) {
    .page__text:not(:last-child) {
      margin-bottom: calc(1.25rem + 0.625 * (100vw - 28.125rem) / 41.25);
    }
}

@supports (padding-top: clamp( 3.125rem , -1.1363636364rem  +  15.1515151515vw , 9.375rem )) {
    .circular-slider {
      padding-top: clamp( 3.125rem , -1.1363636364rem  +  15.1515151515vw , 9.375rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , -1.1363636364rem  +  15.1515151515vw , 9.375rem )) {
    .circular-slider {
      padding-top: calc(3.125rem + 6.25 * (100vw - 28.125rem) / 41.25);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 69.375em) {
  .menu__list {
    font-size: 3.125rem;
  }

  .page {
    padding-top: 6.25rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 28.125em) and (max-width: 69.375em) {
@supports (font-size: clamp( 2.5rem , 2.0738636364rem  +  1.5151515152vw , 3.125rem )) {
    .menu__list {
      font-size: clamp( 2.5rem , 2.0738636364rem  +  1.5151515152vw , 3.125rem );
    }
}

@supports not (font-size: clamp( 2.5rem , 2.0738636364rem  +  1.5151515152vw , 3.125rem )) {
    .menu__list {
      font-size: calc(2.5rem + 0.625 * (100vw - 28.125rem) / 41.25);
    }
}

@supports (padding-top: clamp( 3.125rem , 0.9943181818rem  +  7.5757575758vw , 6.25rem )) {
    .page {
      padding-top: clamp( 3.125rem , 0.9943181818rem  +  7.5757575758vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 0.9943181818rem  +  7.5757575758vw , 6.25rem )) {
    .page {
      padding-top: calc(3.125rem + 3.125 * (100vw - 28.125rem) / 41.25);
    }
}
}

@media (min-width: 47.99875em) and (min-width: 48em) and (max-width: 80em) {
@supports (gap: clamp( 1.25rem , -15.625rem  +  35.15625vw , 12.5rem )) {
    .page__container {
      gap: clamp( 1.25rem , -15.625rem  +  35.15625vw , 12.5rem );
    }
}

@supports not (gap: clamp( 1.25rem , -15.625rem  +  35.15625vw , 12.5rem )) {
    .page__container {
      gap: calc(1.25rem + 11.25 * (100vw - 48rem) / 32);
    }
}
}

@media (min-width: 47.99875em) and (max-width: 48em) {
  .page__container {
    gap: 1.25rem;
  }
}

@media (any-hover: hover) {
  .menu__item:hover {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }

  .page__button:hover {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .circular-slider__button:hover {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}

@media (any-hover: hover) and (any-hover: hover) {
  .page__button:hover:hover {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }

  .circular-slider__button:hover:hover {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }
}